* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
}

body {
  font-family: 'Nunito', sans-serif;
}

a {
  text-decoration: none;
  color: white;
}

.wrapper {
  max-width: 900px;
  margin: 0 auto;
}

header,
footer {
  background: #205570;
  color: aliceblue;
}

header .container {
  padding: 30px 50px;
  display: flex;
}

header img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

header h1 {
  text-align: center;
  font-size: 3em;
  align-self: center;
}

section {
  background: #c5d5de;
}

section .container {
  padding: 30px 50px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1.8em;
}

section .container .box {
  border-radius: 15px;
}

section .primary {
  color: antiquewhite;
  background: #205570;
}

section .secondary {
  color: antiquewhite;
  background: #39ad90;
}

section .header {
  display: flex;
  padding: 10px 0;
  border-radius: 15px 15px 0 0;
}

section .header i {
  padding: 0 25px;
  position: relative;
  bottom: 20px;
  color: #ff9f1c;
}

section .header h2 {
  align-self: center;
  margin-left: 5px;
}

section p {
  background: whitesmoke;
  padding: 20px 40px;
  min-height: 160px;
  border-radius: 0 0 15px 15px;
}

footer {
  padding: 30px 40px;
  display: flex;
}

footer i {
  align-self: center;
}

footer h3 {
  align-self: center;
  font-size: 0.5em;
  margin: 0 40px 0 15px;
}

footer .info {
  align-self: center;
  text-align: center;
}

footer .info p {
  font-size: 0.8em;
}
